<!-- <app-header></app-header> -->
<div class="container-fluid margin-top-80px">
    <div class="row upper-container">
        <div class="col-md-6 col-md-offset-6 agencies-box">
            <h1><span class="highlight">WE LIVE FOR THE STORIES YOU LOVE TO CREATE.</span></h1>
            <!--<h1 class="title"><span class="highlight">We live for the stories you love to create.</span></h1>-->
            <br>
            <p class="lead">
                That’s why we support individual creators who strive to grow and strengthen the communities they’ve worked so hard to create. Discover how our vibrant global community is actively collaborating with brands to create one of kind, user generated advertising experiences.From the world’s most powerful influencer technology to campaign development, see how our we can help you take your Brand or Agency content campaigns to the next level.
            </p>
            <p>
                <!-- <a data-toggle="modal" class="button" routerlink="/register">Get Started for FREE</a> -->
                <button class="button pull-right"><a routerlink="/register" href="/authentication/signup">Get Started for FREE</a></button>

            </p>
        </div>
    </div>

</div>

<div class="container">

<ul class="nav nav-tabs agencies-tabs" role="tablist">
    <li  class="active">
        <a  aria-controls="home" role="tab" href="#build" data-toggle="tab" aria-expanded="true">
        <i class="fa fa-desktop"></i><br>
        <span class="textwrap">Build Your Page</span>
        </a>

    </li>
    <li role="presentation" class=""><a href="#find" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">
        <i class="fa fa-search-plus"></i><br>
        <span class="textwrap">Find Great Influencers</span></a>
    </li>
    <li role="presentation" class=""><a href="#organize" aria-controls="settings" role="tab" data-toggle="tab" aria-expanded="false">
        <i class="fa fa-sitemap"></i><br>
        <span class="textwrap">Organize Your Influencers</span></a>
    </li>
    <li role="presentation" class=""><a href="#apply" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">
        <i class="fa fa-angellist"></i><br>

        <span class="textwrap">Let Them Apply</span></a>
    </li>
    <li role="presentation" class=""><a href="#together" aria-controls="settings" role="tab" data-toggle="tab" aria-expanded="false">
        <i class="fa fa-handshake-o"></i><br>
        <span class="textwrap">Work Together</span></a>
    </li>
</ul>



    <div class="tab-content padding-t-b-10px">
        <div role="tabpanel" class="tab-pane active" id="build">
            <div class="row" >
                <div class="col-md-6 col-md-push-6">
                    <img class="happy" src="../../assets/images/agencies/Build-Your-Own-Page.png" alt="Agency page build 1c5f7604d73fd0fac6cdaf20a99a31624e98aebb97852e8f2b0b75215dca871c">
                </div>
                <div class="col-md-6 col-md-pull-6">
                    <div class="details">
                        <h5 class="heading-2">Build Your Page</h5>
                        <p>Our global community is made up of creative content creators from almost every genre, interests, and background you could possibly imagine. From fitness to food art, there’s a space for you here to connect with brands who are just as passionate as you are</p>
                        <!--<p>An Agency Page lets you show off your clients to the world and possibly attract new ones. Whether it be your roster of modeling or influencer talent or the companies you run influencer campaigns for, it’s always good to let the world know who you work with. Agency Pages are public so you can share them on your social channels to recruit more clients.</p>-->
                        
                        <p><a class="button hidden-xs" href="#find" aria-controls="profile" role="pill" data-toggle="pill" aria-expanded="false">Next</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="find">
            <div class="row">
                <div class="col-md-6 col-md-push-6">
                    <img class="happy" src="../../assets/images/agencies/Find-Great-Influencers.png" alt="Business page search fce822ec1aa72e1b389b6c1e65897ed924d6e2b2f0ea2736491c64bdb811a0a0">
                </div>
                <div class="col-md-6 col-md-pull-6">
                    <div class="details">
                        <h5 class="heading-2">Find Great Influencers</h5>
                        <p>Whether you’re looking for new talent to represent or influencers to collaborate with on your campaigns, our world-class search tools will narrow down our 50K influencers to a small group that you think might be a good fit for your project. Influencers build their own pages and show off who they have worked with. Find them by location, category, brands they have worked with and other advanced search criteria.</p>
                        
                        <!-- <p><a class="button hidden-xs" href="#landingpage-tabs">Next</a></p> -->
                        <p><a class="button hidden-xs" href="#organize" aria-controls="profile" role="pill" data-toggle="pill" aria-expanded="false">Next</a></p>

                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="organize">
            <div class="row">
                <div class="col-md-6 col-md-push-6">
                    <img class="happy" src="../../assets/images/agencies/Organize.png" alt="Business page list c3a0393629d2ab5bcb23cc61622cefed1de48f4a0147b3611cdcd70acca10d7d">
                </div>
                <div class="col-md-6 col-md-pull-6">
                    <div class="details">
                        <h5 class="heading-2">Organize Your Influencers</h5>
                        <p>Organize potential influencers or clients into lists. Group them by location, category or even their audience size. You can share these lists with your team members and easily move influencers between lists as you narrow down candidates for your campaign.</p>
                        
                        <!-- <p><a class="button hidden-xs" href="#landingpage-tabs">Next</a></p> -->
                        <p><a class="button hidden-xs" href="#apply" aria-controls="profile" role="pill" data-toggle="pill" aria-expanded="false">Next</a></p>

                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="apply">
            <div class="row">
                <div class="col-md-6 col-md-push-6">
                    <img class="happy" src="../../assets/images/agencies/let-them-apply.png" alt="Business page application 4dd2776967bd37196824d937a2f864b9143a48b88e1ce5b94eba22db8e8f7613">
                </div>
                <div class="col-md-6 col-md-pull-6">
                    <div class="details">
                        <h5 class="heading-2">Let Them Apply</h5>
                        <p>If you don’t want to spend time reaching out influencers, you can set up a campaign and let them apply to you. You can set application criteria such as followers, location, rate information and much more. Most campaigns receive 60-100 qualified inbound candidates in the first week.</p>
                        
                        <!-- <p><a class="button hidden-xs" href="#landingpage-tabs">Next</a></p> -->
                        <p><a class="button hidden-xs" href="#together" aria-controls="profile" role="pill" data-toggle="pill" aria-expanded="false">Next</a></p>

                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="together">
            <div class="row">
                <div class="col-md-6 col-md-push-6">
                    <img class="happy" src="../../assets/images/agencies/Work-Together.png" alt="Agency page together 0f780c68da81e855e8502f7ae993c2c945c37337b891589d34b45534e13eabe1">
                </div>
                <div class="col-md-6 col-md-pull-6">
                    <div class="details">
                        <h5 class="heading-2">Work Together</h5>
                        <p>influencexpai allows your team to work together. Your team can build and share lists, manage your clients’ profiles for them and even apply to or manage campaigns on your clients’ behalf. No more logging in and out of Instagram accounts till you’re blue in the face, our team management system lets you jump between profiles easily. </p>

                        <!-- <p><a data-toggle="modal" class="button" routerlink="/register">Sign-Up Free Now</a></p> -->

                        <!-- <p><a data-toggle="modal" class="button" href="#claim-modal">Sign-Up Free Now</a></p> -->
                        <button class="button pull-right"><a routerlink="/signup" href="/signup">Sign-Up FREE</a></button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>