<app-loader></app-loader>
<div class="d-flex align-items-stretch min-height-100 h-100">
  <div class="bg-cover bg-3 hidden-sm-down col-md-6 col-lg-8"></div>
  <div class="card card-block mb-0 rounded-0 p-5 col-sm-12 col-md-6 col-lg-4">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <img src="assets/images/logo.png" class="avatar-xs mb-1" alt="">
        <p class="ff-headers text-uppercase" style="font-weight: bold">Recover your password</p>
      </div>
      <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['uname'].hasError('required') && form.controls['uname'].touched}">
        <label for="username" class="form-control-label">
          Enter your Email
        </label>
        <input type="text" class="form-control" placeholder="Enter Email Here" [(ngModel)]="this.email" [formControl]="form.controls['uname']" [ngClass]="{'form-control-danger': form.controls['uname'].hasError('required') && form.controls['uname'].touched}"/>
        <div class="form-control-feedback" *ngIf="form.controls['uname'].hasError('required') && form.controls['uname'].touched">Email is required.</div>
        <div class="form-control-feedback" style="color: red" *ngIf="form.controls['uname'].hasError('pattern') ">Please Enter Valid Email.</div>
      </fieldset>
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid" >Reset Password</button>
    </form>
  </div>
</div>
