<section id="contact">
  <div id="footerwrap" class="footer-wrapper">
    <div class="footer-upper">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
          <h4>Who Are We?</h4>
          
          <ul>
            <li><a routerLink="/How-It-Works"><i class="fa fa-chevron-right"></i> How it Works?</a> </li>
            <li><a routerLink="/what-is-InfluExpAI"><i class="fa fa-chevron-right"></i> What is InfluExpert.AI?</a> </li>
            <li><a routerLink="/contact"><i class="fa fa-chevron-right"></i> Establish Contact</a> </li>

          </ul>
          <h4>Stalk Us</h4>
          <div class="hline-w"></div>
          <ul class="footer-social-icons">
            <li><a href="https://www.facebook.com/Influ-Expai-1803725316597120/" target="_blank">
              <i  class="fa fa-facebook"></i> Facebook</a></li>
            <li><a href="https://twitter.com/influex_pai" target="_blank">
              <i  class="fa fa-twitter"></i> Twitter</a></li>
            <li><a href="contact@influexpai.com">
                <i  class="fa fa-pinterest"></i> Pintrest</a></li>
          </ul>
        </div>
        
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
          <h4 class="text-center">My InfluExpert.AI</h4> 

        <div class="row">
          <div class="col-md-6 col-sm-6">
            <ul>
                <li><a routerLink="#"><i class="fa fa-chevron-right"></i> ML/AI</a> </li>
                <!-- <li><a href="https://www.influexpai.com/pricing"><i class="fa fa-chevron-right"></i> Pricing</a> </li> -->
                <li><a routerLink="/pricing"><i class="fa fa-chevron-right"></i> Pricing</a> </li>
                <!-- <li><a routerLink="/blog"><i class="fa fa-chevron-right"></i> Blog</a> </li> -->
                <li><a href="https://meetings.hubspot.com/amjad1pak?_ga=2.231961375.1891010832.1548166411-1961289000.1536910881" target="_blank"><i class="fa fa-chevron-right"></i> Demo</a> </li>    
                <li><a href="/authentication/signin"><i class="fa fa-chevron-right"></i> Signin</a> </li>
                <!-- <li><a routerLink="/authentication/Signup"><i class="fa fa-chevron-right"></i> Signin</a> </li> -->


              </ul>
          </div>
          <div class="col-md-6 col-sm-6">
            <ul>
              <li><a routerLink="/brand"><i class="fa fa-chevron-right"></i> For Brand</a> </li>
              <li><a routerLink="/influencers"><i class="fa fa-chevron-right"></i> For Influencers</a> </li>
              <li><a routerLink="/agencies"><i class="fa fa-chevron-right"></i> For Agencies</a> </li>
              <!-- <li><a routerLink="/authentication/Signin"><i class="fa fa-chevron-right"></i> Signup</a> </li> -->
              <li><a href="/authentication/signup"><i class="fa fa-chevron-right"></i> Signup</a> </li>


            </ul>
          </div>
          <div  class="col-sm-12 footer-stores-img">
            <h2>Download and experience our Super-Cool Next-Generation Mobile App Now.</h2>
            <a href="https://play.google.com/store/apps/details?id=com.brainplow.influxexpai" onclick="topFunction()" target="_blank">
              <img  src="../../../assets/images/img/apple-store-f.png">
            </a>
              <a href="https://play.google.com/store/apps/details?id=com.brainplow.influxexpai" onclick="topFunction()" target="_blank">
                <img  src="../../../assets/images/img/google-play-f.png">
                <!-- \src\assets\images\img\images -->
              </a>
          </div>
        </div>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <h4>What is InfluExpert.AI</h4>
          <p>
            Millions of Influencers. InfluExpert.AI is the most comprehensive source of Bloggers, Content Creaters, Social Media and Vetted Opt-In Influencers. Bleeding Edge Artificial Intelligence.
            <a class="footer-readmore" routerLink="/what-is-InfluExpAI">Read More</a>
          </p>
          <form class="form-inline" style="position: relative">
            <input type="text" name="subscription" placeholder="Email Address">
            <button class="btn btn-primary subscribe-btn">
              <i _ngcontent-iap-c3="" aria-hidden="true" class="fa fa-arrow-up"></i>
            </button>
            <!-- <a href="https://play.google.com/store/apps/details?id=com.brainplow.influxexpai" target="_blank">
              <img src="../../assets/images/Adroid-Badge.png" style="width: 150px">
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.brainplow.influxexpai" target="_blank">
              <img src="../../assets/images/IOS-Badge.png" style="width: 150px;height:65px">
            </a> -->
          </form>
        </div>
      </div>
      <!-- --/row ---->
    </div>
    <!-- --/container ---->
  </div>
  <!-- --/footerwrap ---->
  <div class="footer-copyright">
    <div class="">
      <p class="copyright-text">Copyright © 2019, InfluExpert.AI. All rights reserved.
        <span class="pull-right">
          <!-- <a href="https://www.influexpai.com/Terms-and-Conditions" class="footer-link-border">Terms of Use</a> -->
          <!-- <a href="https://www.influexpai.com/Terms-and-Conditions" class="footer-link-border">Terms of Use</a> -->
          <!-- <a href="https://www.influexpai.com/privacy_policy">   Privacy Policy</a> -->
          <!-- <a href="https://www.influexpai.com/privacy_policy">   Privacy Policy</a> -->
          <a routerLink="/terms" class="footer-link-border">Terms of Use</a>
          <a routerLink="/privacy">   Privacy Policy</a>

        </span>
      </p>
    </div>
  </div>
</section>



<!------ Include the above in your HEAD tag ---------->

<!--<section id="chat-container">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-4 pull-right">-->
        <!--<div class="panel panel-primary chat-box">-->
          <!--<a type="button" class="btn btn-default btn-xs chat-font-awesome" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">-->
            <!--<div class="panel-heading" id="accordion">-->
              <!--<i class="fa fa-comments"></i>-->
              <!--Chat-->
              <!--<div class="btn-group pull-right">-->
                <!--<i class="fa fa-minus"></i>-->
              <!--</div>-->
            <!--</div>-->
          <!--</a>-->
          <!--<div class="panel-collapse collapse" id="collapseOne">-->
            <!--<div class="panel-body">-->
              <!--<ul class="chat">-->
                <!--<li class="left clearfix"><span class="chat-img pull-left">-->
                    <!--&lt;!&ndash;<img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />&ndash;&gt;-->
                <!--</span>-->
                  <!--<div class="chat-body clearfix">-->
                    <!--<div class="header">-->
                      <!--<strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">-->
                      <!--<span class="glyphicon glyphicon-time"></span>12 mins ago</small>-->
                    <!--</div>-->
                    <!--<p>-->
                      <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare-->
                      <!--dolor, quis ullamcorper ligula sodales.-->
                    <!--</p>-->
                  <!--</div>-->
                <!--</li>-->
                <!--<li class="right clearfix"><span class="chat-img pull-right">-->
                            <!--&lt;!&ndash;<img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />&ndash;&gt;-->
                        <!--</span>-->
                  <!--<div class="chat-body clearfix">-->
                    <!--<div class="header">-->
                      <!--<small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>-->
                      <!--<strong class="pull-right primary-font">Bhaumik Patel</strong>-->
                    <!--</div>-->
                    <!--<p>-->
                      <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare-->
                      <!--dolor, quis ullamcorper ligula sodales.-->
                    <!--</p>-->
                  <!--</div>-->
                <!--</li>-->
                <!--<li class="left clearfix"><span class="chat-img pull-left">-->
                            <!--&lt;!&ndash;<img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />&ndash;&gt;-->
                        <!--</span>-->
                  <!--<div class="chat-body clearfix">-->
                    <!--<div class="header">-->
                      <!--<strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">-->
                      <!--<span class="glyphicon glyphicon-time"></span>14 mins ago</small>-->
                    <!--</div>-->
                    <!--<p>-->
                      <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare-->
                      <!--dolor, quis ullamcorper ligula sodales.-->
                    <!--</p>-->
                  <!--</div>-->
                <!--</li>-->
                <!--<li class="right clearfix"><span class="chat-img pull-right">-->
                    <!--&lt;!&ndash;<img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />&ndash;&gt;-->
                <!--</span>-->
                  <!--<div class="chat-body clearfix">-->
                    <!--<div class="header">-->
                      <!--<small class=" text-muted"><span class="glyphicon glyphicon-time"></span>15 mins ago</small>-->
                      <!--<strong class="pull-right primary-font">Bhaumik Patel</strong>-->
                    <!--</div>-->
                    <!--<p>-->
                      <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare-->
                      <!--dolor, quis ullamcorper ligula sodales.-->
                    <!--</p>-->
                  <!--</div>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</div>-->
            <!--<div class="panel-footer">-->
              <!--<div class="input-group">-->
                <!--<input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />-->
                <!--<span class="input-group-btn">-->
                  <!--<button class="btn btn-warning btn-sm chat-send-btn" id="btn-chat">Send</button>-->
                <!--</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
