#contact {
    width: 100%;
    color: #fff
}

#footerwrap h4 {
    color: #FFF;
    margin: 10px 0;
    font-size: 28px;
    line-height: 1.1;
}

#footerwrap p {
    color: #999;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500!important;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif!important;
}

.footer-wrapper ul li a {
    line-height: 35px;
    font-size: 18px;
    color: #777;
    font-weight: 600;
}

ul.footer-social-icons li {
    display: block;
    margin-bottom: 10px;
}
.footer-social-icons li a i {
    color: #ccc;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    text-align: center;
    padding: 10px;
    transition: .5s;
}
.footer-social-icons li a:hover .fa-twitter {
    background: #0084b4!important;
    transform: rotate(360deg);
    color: #fff!important;
}
.footer-social-icons li a:hover .fa-facebook {
    background: #3b5998!important;
    transform: rotate(360deg);
    color: #fff!important;
}
.footer-social-icons li a:hover .fa-pinterest {
    background: #c92228!important;
    transform: rotate(360deg);
    color: #fff!important;
}
form input[type=text] {
    overflow: hidden;
    border-radius: 50px!important;
    background: #fefefe;
    color: #333;
    border: 1px solid #999;
    border-right: none;
    padding: 5px 10px;
    font-size: 18px!important;
    font-weight: 700;
    height: auto!important;
    width: 100%;
}

.subscribe-btn {
    border: none;
    position: absolute;
    height: 37px;
    right: 0px;
    top: 0;
    background: transparent !important;
    border-radius: 0 50px 50px 0;
    padding-right: 0;
}
.subscribe-btn i{
    color: #c00 !important;
}
.footer-copyright {
    background: #1d1d1d;
    padding: 22px;
    width: 100%;
    display: block;
    height: auto;
}

.footer-copyright a {
    color: #ccc;   
    padding: 0 5px;
}
#footerwrap{
    width: 100%;
    display: block;
    min-height: 403px;
}
p.copyright-text {
    margin: 0;
    font-size: 14px;
    color: #ccc !important;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif!important;
    font-weight: 500!important;
}

.footer-link-border {
    border-right: solid 2px;
    padding-right: 5px
}

ul {
    list-style-type: none;
    padding: 0
}

section#contact i {
    color: #ccc;
    padding-right: 10px
}

#contact a:hover {
    color: #fff;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9
}

.chat-box,
button#btn-chat {
    border-color: #c00
}

.chat li.left .chat-body {
    margin-left: 60px
}

.chat li.right .chat-body {
    margin-right: 60px
}

.chat li .chat-body p {
    margin: 0;
    color: #777
}

.chat .glyphicon,
.panel .slidedown .glyphicon {
    margin-right: 5px
}

.panel-body {
    overflow-y: scroll;
    height: 250px
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #F5F5F5
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555
}

section#chat-container {
    position: absolute;
    bottom: 30px;
    right: 0;
    z-index: 9
}

button#btn-chat {
    background: #c00;
    padding: 8px 10px;
    font-weight: 700
}

.chat-font-awesome {
    padding: 0;
    color: #fff!important;
    width: 100%;
    text-align: left;
    border: none
}

.panel.panel-primary.chat-box .panel-heading {
    background: #c00;
    border: none;
    font-size: 24px;
    font-weight: 700
}

.rfm {
    background-color: #c00;
    color: #d4d4d4;
    border-color: #c00;
    border-radius: 50x
}

.swal2-popup .swal2-modal .swalcustom .swal2-show {
    height: 35em!important;
    font-size: 1em!important
}

.footer-readmore {
    display: block;
    color: #c00;
}

.footer-upper {
    padding: 18px 50px;
    background: #000;
    min-height: 402px;
    float: left;
}
.footer-stores-img h2 {
    color: #fff;
    font-size: 18px;
    margin: 0 0 10px;
}
.footer-stores-img img {
    width: 25%;
    margin-left: 90px;
}