section{margin: 0px 0 25px; ul{padding-left: 50px;} p {font-size: 20px;margin: 6px 0;} li {font-size: 20px} }
.heading-2 {
    font-size: 25px;
    color: #000;
    font-weight: 600;
    margin: 0;
    line-height: 40px;
}
section p {
    font-size: 14px;
    margin: 6px 0;
}
.join{
    color:#fff
}
section li {
    font-size: 14px;
}
.inner-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
