<!-- <app-header></app-header> -->
<div class="blog-wrapper">

  <section class="title-top-bg">
    <div class="container">
      <h1>Influencers</h1>
    </div>
  </section>

  <section id="stories">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <img src="../../assets/images/img/images/influencers/1.png" alt="image">
            </div>
            <div class="col-md-6 col-sm-6">
              <img src="../../assets/images/img/images/influencers/2.png" alt="image">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <img src="../../assets/images/img/images/influencers/3.png" alt="image">
            </div>
            <div class="col-md-6 col-sm-6">
              <img src="../../assets/images/img/images/influencers/4.png" alt="image">
            </div>
          </div>
        </div>
        <div class="col-md-6 inner-div">
          <h2 class="heading-2">We live for the stories you love to create.</h2>
          <p class="influencers-special-paragraph">That’s why we support individual creators who strive to grow and strengthen the communities they’ve worked so hard to create. Discover how our vibrant global community is actively collaborating with brands to create one of kind, user generated advertising experiences.</p>
          <ul class="influencers-list">
            <li>Signup below, tell us about yourself</li>
            <li>Get&nbsp;notified&nbsp;about&nbsp;available campaigns</li>
            <li>Create, post your content</li>
            <li>Earn cash, products,&nbsp;and&nbsp;rewards</li>
          </ul>
          <button class="btn btn-primary btn-lg pull-right"><a class="join" routerlink="/authentication/signup" href="/authentication/signup">Join our Community</a></button>

        </div>
      </div>
    </div>
  </section>

  <section id="creators">
    <div class="container">
      <div class="row">
        <div class="col-md-6 inner-div">
          <h2 class="heading-2">Here, all creatorsare welcome.</h2>
          <p class="influencers-special-paragraph">Our global community is made up of creative content creators from almost every genre, interests, and background you could possibly imagine. From fitness to food art, there’s a space for you here to connect with brands who are just as passionate as you are.</p>
          <p><a class="" href="#letsTalk">Join our Global Community of Creators</a></p>
        </div>
        <div class="col-md-6">
          <img src="../../assets/images/img/images/influencers/all-creators-are-welcome.png" alt="image">
        </div>
      </div> 
    </div>
  </section>

  <section id="community">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ">
          <img src="../../assets/images/img/images/influencers/Stay-Updated.png" alt="image">

        </div>
        <div class="col-md-6 inner-div">
          <div class="wpb_wrapper">
            <h2 class="heading-2">Stay up to date on the creator community</h2>
            <p class="influencers-special-paragraph">Get the latest on what’s going on in the creator community. We create and curate information right to your inbox that’s designed to help you grow your community and stay up to date on everything important in the creator economy.</p>
            <p><a href="#letsTalk">Get the latest about our creator community</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="help">
    <div class="container">
      <div class="row">
        <div class="col-md-6 inner-div">
          <div class="wpb_wrapper">
            <h2 class="heading-2">Looking for a little extra help?</h2>
            <p class="influencers-special-paragraph">From the world’s most powerful influencer technology to campaign development, see how our we can help you take your Brand or Agency content campaigns to the next level.</p>
            <button class="btn btn-primary btn-lg capitalize ls0">Explore More</button>
          </div>
        </div>
        <div class="col-md-6">
          <img class="width-100per" src="../../assets/images/img/images/influencers/Extra-Help.png" alt="image">
        </div>
      </div>
    </div>
  </section>


</div>
<app-footer></app-footer>