.flexy{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: url(../../../assets/images/LoginInflu.png)center/100% no-repeat;
}
.heading{
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}
.form-content{
  width: 700px;
  background: url(../../../assets/images/backkk.png);
  padding: 10px 20px 20px;
  opacity: 0.8;
  border-radius: 20px;
}
.mat-form-field input,
.mat-select {
  font-size: 24px;
  font-weight: 600;
}
.mat-option{
  font-size: 16px;
}
.btn-primary{
  margin-left: 43px;
}