<section>
<div class="container-fluid p-0">
  <div class="profile showcase-background">
    <div class="container" >
      <!-- <img src="{{message.show_image[0]?.image}}"  onerror="this.src='../../../assets/images/logos/Logo1.png'" alt=""> -->
    </div>
  </div>
</div>
<div class="container" >
  <div class="col-md-4">

  </div>
</div>
<div *ngFor="let data of datashowcase ">
    <p>{{data.city}}</p>
    <p>{{data.email}}</p>
  
  </div>
  <div *ngFor="let message of showcase">
    <p>{{message.title}}</p>
    <p>{{message.description}}</p>
    <p>{{message.urls}}</p>
    <p>{{message.status}}</p>
    <!-- <p *ngIf="{{show_image.show_image}} === P">Pending</p> -->
    <!-- <p *ngIf="messgae.status == N">Not Approved </p>
    <p *ngIf="messgae.status == A">Approved </p> -->
    <p> <img src="{{message.show_image[0]?.image}}" onerror="this.src='../../../assets/images/logos/Logo1.png'" alt=""></p>
  </div>
</section>