
<div class="container text-center">
  <!-- <div class="connect-box">
    <h2 >Click to Connect your Twitter Profile</h2>
    <img src="../../assets/images/conenct-upload-icon.png" (click)="getTwAccessToken()" style="max-height: 250px; margin: auto; max-width: 250px" >
  </div> -->


  <div class="col-lg-12 col-md-12">
      <h2>Profile Status: 
        <img src="../../assets/images/connect/if_status-offline_46253.png">
       </h2>
    </div>
  <div  class="inner-container">
      <div  class="name row">
        <h2>Click to Connect your Twitter Profile</h2>
      </div>
    
      <div  class="row info-box">
        <img class="cannot-upload" src="../../assets/images/conenct-upload-icon.png" (click)="getTwAccessToken()" >
      </div>
    </div>



</div>
