<!-- <app-header></app-header> -->
<section id="contact">
  <div class="section-content">
    <h1 class="heading-1">Get in Touch with us</h1>
    <p>If you feel any kind of queries Please feel free to contact with Us. Just leave a Message, Our customer support person will contact you</p>
  </div>
  <div class="contact-section">
    <div class="container">
      <form name="form" role="form"  #f="ngForm" novalidate (ngSubmit)=" f.form.valid && onSubmit()">

        <div class="col-md-6 form-line">
          <div class="form-group">
            <label>Your name</label>
            <input type="text" class="form-control" name="name" placeholder=" Enter Your Name"  [(ngModel)]="model.name" #Name="ngModel" #name
                   required >
          </div>
          <div class="form-group">
            <label>Email Address</label>
            <input type="email" class="form-control" name="email" placeholder=" Enter Your Email" [(ngModel)]="model.email" #Email="ngModel" #email
                   required >
          </div>
          <div class="form-group">
            <label>Mobile No.</label>
            <input type="tel" class="form-control" name="telephone" placeholder=" Enter Your Mobile No." [(ngModel)]="model.phone" #Telephone="ngModel" #telephone
                   required >
          </div>
          <div class="g-recaptcha" data-sitekey="6Lf5bj8UAAAAAEXq4N3bX8zZYb8VQfOEQa7-1aWS"></div>
        </div>
        <div class="col-md-6 form-line border-none">
          <div class="form-group">
            <label> Message</label>
            <textarea class="form-control" name="message" placeholder="Enter Your Message" [(ngModel)]="model.message" #Message="ngModel" #message
                      required > </textarea>
          </div>
          <div>

            <button type="submit" class="button pull-right"><i class="fa fa-paper-plane" aria-hidden="true"></i>Send Message</button>
          </div>

        </div>
      </form>
    </div>
  </div>
</section>

<section id="contact-map">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <iframe width="100%" height="350" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=5050%20Quorum%20Drive%20Suite%20700%20Dallas%2C%20TX%2075254&key=AIzaSyBcVkwSRC2BW9c3FsFmhM61fM1c3goI9_4" allowfullscreen></iframe>
      </div>
      <div class="col-md-4">
          <div  class="contact-address">
            <h2 >InfluExpert.AI</h2>
            <h5 > 5050 Quorum Drive Ste 700 Dallas TX 75254</h5>
            <h2 > Establish Contact</h2>
            <h5  class="phone-contact">
              <p ><i  class="fa fa-envelope-o"></i>&nbsp;&nbsp;<span >Email: </span> contact AT RFPGurus DOT com</p>
              <p ><i  class="fa fa-phone"></i>&nbsp;&nbsp; <span >Voice: </span> +1-214-302-7330 </p>
            </h5>
          </div>


        
      </div>
    </div>
  </div>
  <!-- <p>{{f.value}}</p> -->
</section>
<app-footer></app-footer>