.container{
  max-width: 75%;
  margin-top: 3%;
}

.status{
  text-align: right;
}
.bottom{
  margin-top: 2%;
}
.btn-danger{
  font-weight: 600;
}
.btn-danger{
  background-color: #000;
  border-color: #000;
}
