img{
  cursor: pointer;
}
.card-img{
  width: 150px;
}
.card{
  text-align: center!important;
  box-shadow: 1px 1px 1px 1px #888!important;
}

.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}
