.job-postdetails.post-resume {
  margin-top: 75px;
}
.job-bg {
  background: 0 0;
}

section {
  min-width: 100%;
  position: relative;
  width: 100%;
}


nav.navbar.navbar-default {
  background: #fff;
  border: none;
  box-shadow: 1px 1px 1px 1px #ece9e9;
}
.res-tabs {
  border-radius: 0!important;
  margin-bottom: 0;
}
.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
//@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
    position: relative;
    //flex-direction: column;
    padding: 0!important;
    flex-direction: inherit!important;
    min-height: 50px;

  }
.panel.panel-default {
   border: none;
  // -webkit-box-shadow: 1px 2px 5px 2px #b3b3b3 !important;
}


.res-tabs {
  border-radius: 0!important;
  margin-bottom: 0
}
nav.navbar.navbar-default {
  background: #fff;
  border: none;
  box-shadow: 1px 1px 1px 1px #ece9e9
}

#navbar>ul>li>a {
  font-size: 20px;
  color: #616161;
  cursor: pointer;
  font-weight: 600;
}

#navbar ul li a:hover,
#navbar ul li a:hover i {
  color: #f80000
}


.res-tabs ul li a {
  padding: 10px 25px
}

div#quiz label {
  outline: 0!important
}

fieldset.rating input {
  width: 0
}

fieldset.rating label {
  position: relative;
  cursor: pointer
}

fieldset.rating label:before {
  content: "\f006";
  font-family: FontAwesome;
  /*color: #ECB100*/
}

.make-gig-delete-img,
.make-gig-uploaded-img {
  top: 0;
  font-size: 20px;
  color: #000;
  position: absolute;
  cursor: pointer;
  right: 7px;
}

fieldset.rating label:hover::before {
  content: "\f005";
  font-family: FontAwesome
}

span.number-step {
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  border: 2px solid;
  vertical-align: middle;
  border-radius: 50%;
  font-size: 20px;
  padding-top: 5px;
  margin-right: 15px
}


nav#affix1 ul li a, nav#affix2 ul li a, nav#affix3 ul li a, nav#affix4 ul li a, nav#affix5 ul li a {
  color: #fff;
}

ul.nav.navbar-nav li a {
  font-size: 26px;
}
.navbar-default .navbar-nav>li>a {
  color: #777;
}
.res-tabs ul li a {
  padding: 10px 25px;
}
.create-shw-case li a {
  font-weight: 600;
}


.navbar-nav{
  float:left;
  flex-direction: row!important;
  margin:0;
  padding: 0 ;

}
.navbar-nav>li {
  float:left;
}
.navbar-nav>li>a {
  padding-top:15px;
  padding-bottom:15px;

}
.navbar-form{
  padding:10px 15px;
  border-top:1px solid transparent;
  border-bottom:1px solid transparent;
}
.res-tabs[_ngcontent-c3] ul[_ngcontent-c3] li[_ngcontent-c3] a[_ngcontent-c3]{
  padding: initial;
  margin-left: 25px;
}

.panel-heading.show-case-heading {
  background: #f80000!important;
}
.show-case-heading {
   font-size: 36px;
   border-color: silver!important;
   color: #fff!important;
   font-weight: 600;
}

.panel-heading {
  padding: 10px 15px;
   border-bottom: 1px solid transparent;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
}
.show-case-content {
  background: #f5f5f5;
  padding: 35px;
}
.post-resume .upload-image.left {
  background-color: transparent;
  float: left;
  width: 86%;
  border: 1px solid #e3e3e3;
  position: relative;
  padding: 16px 30px;
  text-align: left;
}
.post-resume .upload-image {
  float: right;
  background-color: #f80000;
  width: 29%;
  text-align: center;
  cursor: pointer;
  display: block;
  padding: 12px 10px 10px;
  border-radius: 5px;
}

.label-title {
  padding: 10px 0 10px 20px;
  font-family: sans-serif;
  font-size: 26px;
  font-weight: 800;
}
.btn {
  background: #f80000;
  font-size: 15px;
  font-weight: bold;
  margin-top: -5%;
  border: #f80000;

}
mat-step {
  background-color: #ed372e!important;
  color: rgba(255, 255, 255, .87);
}
.camera-img{
  max-width: 100px;
    cursor: pointer;
    max-height: 50px;
}

.upload-image{
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5), 0 3px 15px 0 rgba(0, 0, 0, 0.19) !important;  padding: 10px;
  cursor: pointer;
  margin-left: 1%;
  border-radius: 5px;
}

// .upload-image:hover{

//   background-color: #cc0000!important;
//   transition: 1s;
//   border: none!important;
//   box-shadow: 0 3px 5px 0 #cc0000(0, 0, 0, 0.5), 0 3px 15px 0 #cc0000(0, 0, 0, 0.19) !important;  padding: 10px;
// }
.next-btn{
  //bottom: 4px;
  font-weight: bold;
  background: #000000;
  color: white;
  display: block;
  //padding: 10px 19px 10px 22px;
  right: 0;
  //position: absolute;
  float: right;
  border-radius: 25px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.next-btn:hover{
  background-color: #1b3763 !important;
  border: none;
  transition: 1s;
}
.next-btn:focus{

  outline: none!important;
  outline-offset: none;
}
.back-button{
  font-weight: bold;
  background: #000000;
  color: white;
  border-radius: 25px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  margin-bottom: 5px;
}



.back-button:hover{
  background-color: #1b3763!important;
  color: white!important;
  border: none;
  transition: 1s;
}
.back-button:focus{

  outline: none!important;
  outline-offset: none;
}


#margin{
  margin-top: 2%;
}
label{
  font-weight: bold;
  font-size: 14px;

}
.imagename{
  margin-left: 12%;
}
.mat-horizontal-stepper-header{
  pointer-events: none;
}
.mat-select-trigger{
  font-size: 18px !important;
  color: #000 !important;
}
.stepper-heading{
  margin: 0 auto 10px;
}
mat-horizontal-stepper{
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.5),0 6px 20px 0 rgba(0,0,0,.19)!important;

}


.mat-input-element {
  // font: inherit;
  font-weight: 600;
  background: 0 0;
  /* color: currentColor; */
  color: black;
  border: none;
  outline: 0;
  padding: 3px;
  margin: 0;
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
}
 .mat-select-placeholder{
  display: none!important;
}
