.card{
  text-align: center!important;
  box-shadow: 1px 1px 1px 1px #888!important;
}

.card-img{
  height: 80px!important;
  width: 120px!important;
}
.card-img-top{
  width: 65%;
  margin-left: 18%;
  margin-top: 1%;
}
hr{
  background-color: #c00;
  height: 0.76px!important;
}
.mat-form-field-infix{
  padding: 2rem!important;
}
