<!-- <app-header></app-header> -->
<div class="blog-wrapper">

  <section class="title-top-bg">
    <div class="container">
      <h1>Brands</h1>
    </div>
  </section>

  <section class="marketing">
  <div class="container">
      <div class="row brand-outer">
        <div class="left">
          <div class="">
            <img src="../../assets/img/images/brand/Marketing.jpg" alt="">
          </div>
        </div>
        <header class="right">
          <div class="ico"><img src="../../assets/img/images/brand/Marketing.png" alt=""></div>
          <h2 class="s_brand_heading">Marketing for a new generation</h2>
          <p>Want millions of people to learn about your brand? You’re in the right place. Creators are this generation's storytellers, telling product stories in a way that no one else can. Their audience trusts them and looks to them for advice on the newest products, brands and services.</p>
        </header>
      </div>
    <div class="row">
      <article class="article col-md-4 col-sm-4 col-xs-12" style="transition-delay: 0ms;">
        <div class="ico"><img src="../../assets/img/images/brand/budget.png" alt=""></div>
        <h3>Flexible budgets</h3>
        <p>Signing up for FameBit is free and since you set your content budget, you’re in charge of how much you spend. Some brands spend tens of thousands per campaign, but you can start as low as $100.</p>
      </article>
      <article class="article border-l-r col-md-4 col-sm-4 col-xs-12" style="transition-delay: 250ms;">
        <div class="ico"><img src="../../assets/img/images/brand/Tools.png" alt=""></div>
        <h3>Tools powered by data</h3>
        <p>Finding the right creators is key. With advanced campaign targeting and proposal filtering, you can target creators who have the audience and engagement to drive results for your brand.</p>
      </article>
      <article class="article col-md-4 col-sm-4 col-xs-12" style="transition-delay: 500ms;">
        <div class="ico"><img src="../../assets/img/images/brand/Brand-Safe.png" alt=""></div>
        <h3>Brand safe content</h3>
        <p>We’re here to protect your brand. View creator profiles, review content proposals, send your own talking points, and decide what content gets posted about your brand and when.</p>
      </article>
    </div>
  </div>
</section>

  <section class="brand">
    <div class="container">
      <h2>A few brands we work with</h2>
      <ul class="logo-list">
        <li style="transition-delay: 0ms;"><img src="../../assets/img/images/brand/logo01.png" alt="canon"></li>
        <li style="transition-delay: 100ms;"><img src="../../assets/img/images/brand/logo02.png" alt="Activision"></li>
        <li style="transition-delay: 200ms;"><img src="../../assets/img/images/brand/logo03.png" alt="adidas"></li>
        <li style="transition-delay: 300ms;"><img src="../../assets/img/images/brand/logo04.png" alt="sony"></li>
        <li style="transition-delay: 400ms;"><img src="../../assets/img/images/brand/logo05.png" alt="conair"></li>
        <li style="transition-delay: 500ms;"><img src="../../assets/img/images/brand/logo06.png" alt="serioulsy"></li>
      </ul>
    </div>
  </section>

  <section class="promotion">
    <div class="container">
      <div class="row promo-box">
        <!---->
          <div class="col-lg-6 col-md-6">
            <h3 class="textcolor-violet"><a routerLink="/pricing" href="/pricing">Branded content starting at $100</a></h3>
            <p>Creators are ready to send you proposals. Start a campaign today for Free!</p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 sign-up-now-btn">
            <!-- <a routerLink='/register' rel="nofollow" target="_self" class="">Sign up Now!</a> -->
            <button class="button pull-right"><a routerlink="/register" href="/register">Sign up Now!</a></button>

          </div>
      </div>
    </div>
  </section>
</div>
<!-- <app-footer></app-footer> -->