 .switch {
            position: relative;
            display: inline-block;
            width: 55px;
            height: 27px;
            margin: 0;
            float: right;
          }

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
 .card-header {
   padding: 1.4rem 1.4rem!important;
   margin: -30px 10px 35px!important;
   background-color: #1b3763!important;
   border-bottom: 0 solid rgba(0, 0, 0, 0.06)!important;
 }

 input[_ngcontent-c4]:checked + .slider[_ngcontent-c4] {
  background-color: black!important;
}


.inner-container {
  width: 70%;
  margin: 30px auto;
  -webkit-box-shadow: 1px 1px 19px 2px #ccc;
  box-shadow: 1px 1px 19px 2px #ccc;
}

